body{
    background-color: #1E2D3B;
}

/* header  */
div.container-fluid{
    height: 70px;
    background-color: #1E2934;

}

img.ms_header-logo{
    height: 100%;
    padding: 15px;
}

/* main  */


div.container {
    margin-top: 70px; 
}


section {
    display: flex;
    flex-wrap: wrap;
}

.ms_disc-container {
    height: 350px;
    width: calc(100% / 5 - 40px);
    color: white;
    text-align: center;
    background-color: #2D3A46;
    padding: 18px;
    margin: 20px;
}

.ms_disc-container img{
    width: 90%;
    height: 50%;
    object-fit: cover;
    object-position: top;
}

.ms_disc-container h3{
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 12px 0;
}

.ms_disc-container span{
    color: rgb(104, 102, 102);
}